In [2]:
import numpy as np
import pandas as pd

# 1. Data Loading

In [3]:
df = pd.read_excel("data.xlsx")

# 2. Data Exploring

In [7]:
df

,Date/Time,Constraint DA,Constraint RT,Wind,Solar,AEP Load,ATSI Load,COMED Load,DOM Load
0,2021-07-01 01:00:00,0.0,0.0,753.281,0.0,14236,7455,11651,14123
1,2021-07-01 02:00:00,0.0,0.0,738.755,0.0,13636,7091,10871,13345
2,2021-07-01 03:00:00,0.0,0.0,724.276,0.0,13171,6850,10313,12765
3,2021-07-01 04:00:00,0.0,0.0,752.041,0.0,12962,6714,9925,12393
4,2021-07-01 05:00:00,0.0,0.0,759.611,0.0,13060,6730,9731,12293
...,...,...,...,...,...,...,...,...,...
4412,2021-12-31 20:00:00,0.0,0.0,3327.337,0.0,13549,7346,10776,11545
4413,2021-12-31 21:00:00,0.0,0.0,3330.132,0.0,13294,7164,10616,11251
4414,2021-12-31 22:00:00,0.0,0.0,3343.444,0.0,12985,6948,10420,10863
4415,2021-12-31 23:00:00,0.0,0.0,3418.329,0.0,12579,6669,10155,10329
4416,2022-01-01 00:00:00,0.0,0.0,3547.785,0.0,12123,6403,9797,9834

In [9]:
df.describe()

,Constraint DA,Constraint RT,Wind,Solar,AEP Load,ATSI Load,COMED Load,DOM Load
count,4417.000000,4417.000000,4412.000000,4416.000000,4417.000000,4417.000000,4417.000000,4417.000000
mean,-38.573711,-49.394247,2756.335277,753.355388,14565.183835,7671.254471,11293.011320,12668.480190
std,115.701292,216.464412,2009.315364,963.191161,2355.529217,1380.445211,2476.481713,2492.093186
min,-1737.120000,-1920.610000,119.755000,0.000000,9200.000000,5201.000000,7346.000000,8425.000000
25%,0.000000,0.000000,1123.712000,0.000000,12930.000000,6668.000000,9492.000000,10914.000000
50%,0.000000,0.000000,2218.451000,23.548500,14203.000000,7443.000000,10762.000000,12135.000000
75%,0.000000,0.000000,4057.609750,1558.333250,15947.000000,8345.000000,12353.000000,14010.000000
max,0.000000,0.000000,9110.341000,3138.696000,22122.000000,12796.000000,20388.000000,20213.000000

In [13]:
DA = df["Constraint DA"]
RT = df["Constraint RT"]

Wind = df["Wind"]
Solar = df["Solar"]
AEP_load = df["AEP Load"]
ATSI_load = df["ATSI Load"]
COMED_load = df["COMED Load"]
DOM_load = df["DOM Load"]

# 3. Model Building